# Build directory
build/
.DS_Store

# IDE files
.vscode/
.idea/
*.swp
*~

# Compiled Object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out
codebase/ring_buffer
mcp/__pycache__/
*.app

# Python virtual environments
venv_py312/
